form {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #f1f1f1;
	border: 1px solid #dddddd;
	border-radius: 10px;
	font: 1.2rem Arial, Helvetica Neue, Helvetica, sans-serif;
}

form b {
	display: block;
	margin-bottom: 0.5rem;
}

form img {
	width: 32px;
	height: 32px;
}

div {
	position: relative;
}

[data-styling-div] {
	margin-bottom: 0.3rem;
}

[data-indent] {
	padding-left: 1.5rem;
}

[data-set-as-unit] {
	position: absolute;
	top: 0;
	right: 0.5rem;
	bottom: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

[data-set-as-unit] + input,
input[type="date"],
input[type="time"] {
	margin: 0;
}

#form button {
	margin: 10;
	padding: 8px;
}